.parent {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: repeat(3, 45px);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border: 2px;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.div2 {
  grid-area: 1 / 2 / 2 / 5;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
    align-items: center;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.div5 {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
    align-items: center;
    justify-content: right;
}

.div6 {
  grid-area: 2 / 4 / 3 / 5;
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
    align-items: center;
    
}

.div8 {
  grid-area: 3 / 2 / 4 / 3;
}

.div9 {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
    align-items: center;
    justify-content: right;
}

.div10 {
  grid-area: 3 / 4 / 4 / 5;
}

.label {
  font-weight: 600;
}

.field {
  position: relative;
  /* <- establishes the containing block for absolute SVG */
  width: 100%;
  /* you can make this flex:1 if you want */
  // height: 45px;
  height: 100%;
  flex: 0 0 auto;
}

.input {
  width: 80%;
  height: 90%;
  // padding: 0 14px 0 14px;
  padding-left: 14px;
  /* leave room so text doesn't sit under the overlay icon */
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, .16);

  outline: none;
}

.number-input {
  width: 80%;
  height: 90%;
  text-align: center;
  // padding: 0 14px 0 14px;
  /* leave room so text doesn't sit under the overlay icon */
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, .16);

  outline: none;
}


.overlay {
  position: absolute;
  inset: 0;
  /* top:0 right:0 bottom:0 left:0 */
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* let the input receive clicks */
}
